@import "tailwindcss";

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color-scheme: dark;
  color: #e5e7eb;
  background-color: #0f172a;
}

body {
  margin: 0;
  min-height: 100vh;
}
